<div class="coin-card">
  <img [src]="coin.image" [alt]="coin.name" class="coin-image" />
  <h2>{{ coin.name }} ({{ coin.symbol | uppercase }})</h2>
  <p>💲 Preço: {{ coin.currentPrice | currency:'USD':'symbol':'1.2-2' }}</p>
  <p>📊 Market Cap: {{ coin.marketCap | number }}</p>
  <p
    [ngClass]="{
      'positive': coin.priceChangePercentage24h >= 0,
      'negative': coin.priceChangePercentage24h < 0
    }"
  >
    Variação 24h: {{ coin.priceChangePercentage24h | number:'1.2-2' }}%
  </p>
</div>
